extends authlayout

block content
  h1= 'Login'
  if messages.error 
    div #{messages.error} 

  form(action='/auth/login', method='POST')
    div(class="input-block")
      label(for='email') Email 
      input(type='text', name='email', placeholder='Email', required)
    div
      label(for='password') Password 
      input(type='password', name='password', placeholder='password', required)
    button(type='submit') Login

  a(href='/auth/register') Register
  p #{error}
