//- extends layout

block content
  h1= 'Register'
  form(action='/auth/register', method='POST')
    div
      label Email 
      input(type='text', name='email', value=user.email, required)
    div
      label Password 
      input(type='password', name='password', value=user.password, required)
    button(type='submit') Create

  a(href='/auth/login') Login

  p #{error}