doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
      nav 
        ul
          li <a href="/">My app </a>
          li <a href="/login">Login </a>
          li <a href="/users">All Users </a>
          li <a href="/users/new">New User </a>
    block content

    form(action='/logout?_method=DELETE', method='POST')
      button(type='submit') Log Out
