extends layout

block content
  h1= 'Login'
  form(action='/login', method='POST')
    div
      label Email 
      input(type='text', name='email', required)
    div
      label Password 
      input(type='password', name='password', required)
    button(type='submit') Login

  p #{error}
